<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
<app-top-menu></app-top-menu>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            
              <img src="../assets/img/Deals.jpg" alt="deals" style="width:250px;height:200px">             
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <a routerLink="/admin/deal-report">  <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Deals </span></p></a>
              </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <img src="../assets/img/Deal-Location.jpg" alt="Deal Location" style="width:250px;height:200px">
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <a routerLink="/admin/deal-report">  <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Deal  </span>Location</p></a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card">
            
              <img src="../assets/img/Deals-Date.jpg" alt="Deals-Date" style="width:250px;height:200px">             
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <a routerLink="/admin/deal-report">  <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Deal </span>Date</p></a>
              </div>
          </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <img src="../assets/img/Sales-Stages.jpg" alt="Deals-Date" style="width:250px;height:200px">             
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <a routerLink="/admin/deal-report">   <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Sales  </span>Stages</p></a>
              </div>
            
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            
              <img src="../assets/img/Sales-pipeline.jpg" alt="deals" style="width:250px;height:200px">             
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
              <a routerLink="/admin/deal-report">  <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Sales </span>Pileline</p></a>
              </div>
          </div>
        </div>
      </div>
    
     <app-admin-footer></app-admin-footer>
    </div>
  </main>