<notifier-container></notifier-container>
<main class="main-content  mt-0">
  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign In</h4>
                  
              </div>
            </div>
            <div class="card-body">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-start">

  <div class="input-group input-group-outline my-3">
  
  <input type="text" formControlName="userName" class="form-control" type="text"
  placeholder="User Name"
  [ngClass]="{'is-invalid': f['userName'].touched && f['userName'].invalid }">
  </div>
  <div *ngIf="f['userName'].touched && !f['userName'].valid">
  <div class="alert alert-danger" *ngIf="f['userName'].touched && !f['userName'].valid">
    <div *ngIf="f['userName'].errors?.['required']">user Name is required</div>
    <div *ngIf="f['userName'].errors?.['minlength']">user Name must be at least 6 characters long.</div>
    <div *ngIf="f['userName'].errors?.['maxLength']">user Name can be max 10 characters long.</div>
  </div>
  </div>
  <div class="input-group input-group-outline my-3">
    
  <input type="password" formControlName="password"  placeholder="Password"
   class="form-control mb-4" 
   [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid }">
  </div>
  <div *ngIf="f['password'].touched && !f['password'].valid">
   <div class="alert alert-danger" *ngIf="f['password'].touched && !f['password'].valid">
    <div *ngIf="f['password'].errors?.['required']">password Name is required</div>
    <div *ngIf="f['password'].errors?.['minLength']">Password must be at least 6 characters</div>
    <div *ngIf="f['password'].errors?.['hasNumber']"> Must contain at least 1 number!</div>
    <div *ngIf="f['password'].errors?.['hasCapitalCase']">Must contain at least 1 in Capital Case</div>
    <div *ngIf="f['password'].errors?.['hasSmallCase']">Must contain at least 1 Letter in Small Case!</div>
  </div>
  </div>
  <div class="text-center">
    <button type="button" type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2" [class.disabled]="!loginForm.valid">Sign in
      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
    </button>
  </div>
  <p class="mt-4 text-sm text-center">
    Don't have an account?
    <a routerLink="/registration" class="text-primary text-gradient font-weight-bold">Sign up</a>
  </p>                
  <p class="mt-4 text-sm text-center">
      <!-- Forgot password -->
      <a routerLink="/forgotpassword" class="text-primary text-gradient font-weight-bold">Forgot password?</a>
  </p>

  <!-- Sign in button -->
 
</form>
</div>
</div>
</div>
</div>
</div>

</div>
</main>
  